/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

### Static assets pipeline artifacts

*.scssc
/src/Taller/BookBundle/Resources/compass/.sass-cache/
