<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}| Taller{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/book/css/sass-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/book/css/main.css') }}">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">

    </head>
    <body>
        <header id="header">
            <div class="container">
                <h1><a href="{{ path('book_index') }}">BOOK's</a></h1>
            </div>
        </header>
        <div class="container">
            <article class="row">
                {% block article %}{% endblock %}
            </article>
            <footer class="row">
            </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
