/* line 6, ../../compass/sass/main.scss */
#header {
  background-color: #497bad;
}
/* line 8, ../../compass/sass/main.scss */
#header h1 {
  margin: 15px 0px 15px -15px;
}
/* line 10, ../../compass/sass/main.scss */
#header h1 a {
  color: white;
  font-weight: bolder;
  font-size: 0.8em;
  text-shadow: #0d6cfc 0px 0px 1px;
}
/* line 17, ../../compass/sass/main.scss */
#header h1 a:hover {
  text-decoration: none;
}

/* line 26, ../../compass/sass/main.scss */
.book-list {
  padding-left: 0px;
  list-style: none;
}

/* line 31, ../../compass/sass/main.scss */
.book-item {
  -webkit-box-shadow: #c2c2c2 0px 0px 2px;
  -moz-box-shadow: #c2c2c2 0px 0px 2px;
  box-shadow: #c2c2c2 0px 0px 2px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px 10px 5px 5px;
  position: relative;
  width: 100%;
}
/* line 43, ../../compass/sass/main.scss */
.book-item h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #127EE9;
}

/* line 50, ../../compass/sass/main.scss */
.book-image {
  float: left;
  margin-right: 10px;
}
/* line 54, ../../compass/sass/main.scss */
.book-image img {
  width: 100px;
  height: 150px;
}

/* line 60, ../../compass/sass/main.scss */
.book-content {
  float: left;
  position: relative;
}

/* line 65, ../../compass/sass/main.scss */
span.datetime {
  color: #FF7A00;
  font-size: 0.9em;
}

/* line 70, ../../compass/sass/main.scss */
span.button-box {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

/* line 78, ../../compass/sass/main.scss */
.letter-nav {
  margin-top: 20px;
}
/* line 80, ../../compass/sass/main.scss */
.letter-nav span {
  display: block;
  margin-bottom: 5px;
}

/* line 86, ../../compass/sass/main.scss */
.letter-list {
  margin-bottom: 0px;
}
/* line 90, ../../compass/sass/main.scss */
.letter-list .active a {
  font-weight: bolder;
  color: black;
}
/* line 93, ../../compass/sass/main.scss */
.letter-list .active a:hover {
  text-decoration: none;
}

/* line 102, ../../compass/sass/main.scss */
.inline-box {
  display: inline-block;
}
