/*
Syntax error: File to import not found or unreadable: normalize.
              Load paths:
                /srv/www/sitebook.dev/public_html/teste-taller/src/Taller/BookBundle/Resources/compass/sass
                /home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 7 of /srv/www/sitebook.dev/public_html/teste-taller/src/Taller/BookBundle/Resources/compass/sass/screen.scss

Backtrace:
/srv/www/sitebook.dev/public_html/teste-taller/src/Taller/BookBundle/Resources/compass/sass/screen.scss:7
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/import_node.rb:45:in `import'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:44:in `call'
/home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/jardix/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/home/jardix/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/home/jardix/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/home/jardix/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: normalize.\A               Load paths:\A                 /srv/www/sitebook.dev/public_html/teste-taller/src/Taller/BookBundle/Resources/compass/sass\A                 /home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /home/jardix/.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 7 of /srv/www/sitebook.dev/public_html/teste-taller/src/Taller/BookBundle/Resources/compass/sass/screen.scss"; }
